<form action="/books/edit?_id={{book._id}}" method="POST">
  <label for="">Title:</label>
  <input type="text" name="title" value={{book.title}}>
	<br>
  <label for="">Author:</label>
  <input type="text" name="author" value={{book.author}}>
	<br>
  <label for="">Description:</label>
  <input type="text" name="description" value={{book.description}}>
	<br>
  <label for="">Rate:</label>
  <input type="number" name="rating" value={{book.rating}}>
	<br>
  <button class="edit-button" type="submit">EDIT</button>
</form>
